In [8]:
# Single line Comment

# Data Types in Python Programming
''' 
1.Int
2.float
3.complex
4.string
5.boolean
6.list
7.tuple
8.set
9.dict
10.class : custom Datatype

'''
number = 100
number1 = 23.456
number2 = 2+3j


print(type(number)) #this will give the datatype of number
print(type(number1))
print(type(number2))

<class 'int'>
<class 'float'>
<class 'complex'>

In [9]:
# Variable Definition

x = 10  #single variable assignment
x,y=1000,2000
x,y,z,_=1,2,3,4  #multiple variable assignment

_,a,b,c=10,20,30,40

In [10]:
num='100'  # string
num1=2

num2=num*num1
print(num2)

100100

In [11]:
number=10
Number=20

print(Number)

20

In [ ]:
Integer_Number = 100
#Rules for Variable Definition

'''
1.special characters are not allowed at the prefix of variable
example: 123num : Not allowed x
2.the variable definition should not contain any special character or space
example : primary number : not allowed x

'''

'\n1.special characters are not allowed at the prefix of variable\nexample: 123num : Not allowed x\n2.the variable definition should not contain any special character or space\nexample : primary number : not allowed x\n\n\n\n\n\n\n\n\n\n\n'

In [13]:
# print function

print('hi')
print(100+200)

hi
300

In [14]:
# example : simple calculator

'''
logic 
step1-ask user to enter the two values
step2-perform mathematical operations
step3-print the output

'''

num1 = float(input('Enter the first value:')) #type casted to float
num2 = float(input('Enter the second value:'))#type casted to float

num3=num1+num2


print(num3)


'''



'''
print ('the output of two mathematical number operttion',num3)
print (f'the output of two mathematical number operttion{num3}') #f string method
print(f'the output of two mathematical number operttion {num3}'.format(num3))
print()

300.0
the output of two mathematical number operttion 300.0
the output of two mathematical number operttion300.0
the output of two mathematical number operttion 300.0

In [15]:
#operations in python programming
'''
1. add
2.sub
3.mult
4.divide

'''

'\n1. add\n2.sub\n3.mult\n4.divide\n\n'

In [17]:
12+23,40-20,20*2,40/2,40//2,40%2

(35, 20, 40, 20.0, 20, 0)

In [23]:
#concept of indexing nd slicing

str='hello welcome to the world of python programming.'

str[-3]

'''
note :
string indexing : string[start:stop:step]

'''
#ello welc
print(str[1 :10 :2])

el ec

In [1]:
str= 'India is a great country'
print(str[3:-2:2])

i sagetcut

In [8]:
str='America Nice'
print(str[-9:-1:])

rica Nic

In [9]:
# if else statement


if True:
    print("I am True")
    
if False:
    print("I am False")

I am True

In [10]:
'''logic:
if <condition>
    print("output1")
    
else:
   print("output2")
    '''
    
    
num=100

if num > 100:
    print('the number is satisfy criteria')
    
else:
    print('not satisfy the criteria')

not satisfy the criteria

In [13]:
# Guessing the number game
''' 

Logic:
step1: Enter the Number
step2: Write logic code to guess the correct number
step3: output

'''
number=float(input('enter the number between 1 to 3:'))
if number == 1:
    print('the number is 1')
    
if number==2:
    print('the number is 2')
    
if number==3:
    print('the number is 3')

the number is 1

In [14]:
number - float(input())
if number >2:
    print('The Enter number is higher value')
    
if number <2:
    print('The Enter number is lower value')
    
else:
    print('The Enter number is 2')

The Enter number is lower value

In [ ]:
if True:
    if True:
        if True:
            print('very good')

In [16]:
#example : to check whether the given string is palandrom or not
'''
step1:ask user to enter the string
step2: Reverse the string
step3: use if else logic to print the output

'''

text1=input('Enter the string') # assignment operator
text2=text1[::-1]

if text1 == text2:
    print('The given string is palindrom')
else:
    print('not a palindrom')

not a palindrom

In [4]:
8//5



# EXAMPLE : WRITE A PROGRAM TO PRINT VOLUME 
'''
VOLUME = AREA*HEIGHT
STEP1:ASK USER TO ENTER THE DIAMETER OF CYLENDER
STEP2:ASK USER TO ENTER THE HEIGHT OF CYLENDER
STEP3:VOLUME =AREA *HEIGHT
STEP4:PRINT THE DESIRED OUTPUT
'''

PI=3.1421
DIAMETER = float(input("enter the diameter of the cylinder"))
height=float(input("enter the height of the cylinder"))

volume=(PI/4)*(DIAMETER**2)* height 

print (f'the volume of cylinder is {volume} mm^3')

the volume of cylinder is 392.76250000000005 mm^3

In [5]:
#exmple:
'''
step1: ask user to enter the marks 
step2: logic:
       marks >90:  excellent
       90<marks>60: bright
       marks less than 60:moderate
step3:print the output
'''
marks=float(input("Enter the number"))

if marks>90:
    print('Excellent')
elif marks<90 and marks>60:
    print("Bright")
else:
    print("Average")

Average

In [7]:
# for loop 
# range (start ,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [8]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [12]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [16]:
for i in range(10):
    print('$'*i)

$
$$
$$$
$$$$
$$$$$
$$$$$$
$$$$$$$
$$$$$$$$
$$$$$$$$$

In [ ]:
for i in range(0,10):
    print(i)
    if i ==6:
        break

In [1]:
for i in range(0,10):
    print(i)
    if i ==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [ ]:
#example
#palindrom function definition
def palindrom():
    text1 = input

In [6]:
# Example

def compute(num1,num2):
    num3=num1+num2
    return num3

ans= compute(100,200)

print(f'The Answer is {ans}')

The Answer is 300