In [1]:
# Single line Comment

# Data Types in Python Programming
''' 
1.Int
2.float
3.complex
4.string
5.boolean
6.list
7.tuple
8.set
9.dict
10.class : custom Datatype

'''
number = 100
number1 = 23.456
number2 = 2+3j


print(type(number)) #this will give the datatype of number
print(type(number1))
print(type(number2))

<class 'int'>
<class 'float'>
<class 'complex'>

In [2]:
# Variable Definition

x = 10  #single variable assignment
x,y=1000,2000
x,y,z,_=1,2,3,4  #multiple variable assignment

_,a,b,c=10,20,30,40

In [3]:
num='100'  # string
num1=2

num2=num*num1
print(num2)

100100

In [4]:
number=10
Number=20

print(Number)

20

In [5]:
Integer_Number = 100
#Rules for Variable Definition

'''
1.special characters are not allowed at the prefix of variable
example: 123num : Not allowed x
2.the variable definition should not contain any special character or space
example : primary number : not allowed x

'''

'\n1.special characters are not allowed at the prefix of variable\nexample: 123num : Not allowed x\n2.the variable definition should not contain any special character or space\nexample : primary number : not allowed x\n\n'

In [6]:
# print function

print('hi')
print(100+200)

hi
300

In [7]:
# example : simple calculator

'''
logic 
step1-ask user to enter the two values
step2-perform mathematical operations
step3-print the output

'''

num1 = float(input('Enter the first value:')) #type casted to float
num2 = float(input('Enter the second value:'))#type casted to float

num3=num1+num2


print(num3)


'''



'''
print ('the output of two mathematical number operttion',num3)
print (f'the output of two mathematical number operttion{num3}') #f string method
print(f'the output of two mathematical number operttion {num3}'.format(num3))
print()

200.0
the output of two mathematical number operttion 200.0
the output of two mathematical number operttion200.0
the output of two mathematical number operttion 200.0

In [8]:
#operations in python programming
'''
1. add
2.sub
3.mult
4.divide

'''

'\n1. add\n2.sub\n3.mult\n4.divide\n\n'

In [9]:
12+23,40-20,20*2,40/2,40//2,40%2

(35, 20, 40, 20.0, 20, 0)

In [10]:
#concept of indexing nd slicing

str='hello welcome to the world of python programming.'

str[-3]

'''
note :
string indexing : string[start:stop:step]

'''
#ello welc
print(str[1 :10 :2])

el ec

In [11]:
str= 'India is a great country'
print(str[3:-2:2])

i sagetcut

In [12]:
str='America Nice'
print(str[-9:-1:])

rica Nic

In [13]:
# if else statement


if True:
    print("I am True")
    
if False:
    print("I am False")

I am True

In [14]:
'''logic:
if <condition>
    print("output1")
    
else:
   print("output2")
    '''
    
    
num=100

if num > 100:
    print('the number is satisfy criteria')
    
else:
    print('not satisfy the criteria')

not satisfy the criteria

In [15]:
# Guessing the number game
''' 

Logic:
step1: Enter the Number
step2: Write logic code to guess the correct number
step3: output

'''
number=float(input('enter the number between 1 to 3:'))
if number == 1:
    print('the number is 1')
    
if number==2:
    print('the number is 2')
    
if number==3:
    print('the number is 3')

In [16]:
number - float(input())
if number >2:
    print('The Enter number is higher value')
    
if number <2:
    print('The Enter number is lower value')
    
else:
    print('The Enter number is 2')

The Enter number is higher value
The Enter number is 2

In [17]:
if True:
    if True:
        if True:
            print('very good')

very good

In [18]:
#example : to check whether the given string is palandrom or not
'''
step1:ask user to enter the string
step2: Reverse the string
step3: use if else logic to print the output

'''

text1=input('Enter the string') # assignment operator
text2=text1[::-1]

if text1 == text2:
    print('The given string is palindrom')
else:
    print('not a palindrom')

not a palindrom

In [19]:
8//5



# EXAMPLE : WRITE A PROGRAM TO PRINT VOLUME 
'''
VOLUME = AREA*HEIGHT
STEP1:ASK USER TO ENTER THE DIAMETER OF CYLENDER
STEP2:ASK USER TO ENTER THE HEIGHT OF CYLENDER
STEP3:VOLUME =AREA *HEIGHT
STEP4:PRINT THE DESIRED OUTPUT
'''

PI=3.1421
DIAMETER = float(input("enter the diameter of the cylinder"))
height=float(input("enter the height of the cylinder"))

volume=(PI/4)*(DIAMETER**2)* height 

print (f'the volume of cylinder is {volume} mm^3')

the volume of cylinder is 78552.5 mm^3

In [20]:
#exmple:
'''
step1: ask user to enter the marks 
step2: logic:
       marks >90:  excellent
       90<marks>60: bright
       marks less than 60:moderate
step3:print the output
'''
marks=float(input("Enter the number"))

if marks>90:
    print('Excellent')
elif marks<90 and marks>60:
    print("Bright")
else:
    print("Average")

Average

In [21]:
# for loop 
# range (start ,stop,step)
for i in range(0,10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [22]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [23]:
for i in range(0,10):
    print(i,end=" ")

0 1 2 3 4 5 6 7 8 9

In [24]:
for i in range(10):
    print('$'*i,end=" ")

 $ $$ $$$ $$$$ $$$$$ $$$$$$ $$$$$$$ $$$$$$$$ $$$$$$$$$

In [25]:
for i in range(0,10):
    print(i)
    if i ==6:
        break

0
1
2
3
4
5
6

In [26]:
for i in range(0,10):
    print(i)
    if i ==6:
        continue

0
1
2
3
4
5
6
7
8
9

In [27]:
#example
#palindrom function definition
def palindrom():
    text1 = input

In [28]:
# Example

def compute(num1,num2):
    num3=num1+num2
    return num3

ans= compute(100,200)

print(f'The Answer is {ans}')

The Answer is 300

In [29]:
#data structures of python progammng
''' 
1.list
2.tuple
3.dictionary
4.sets
'''

#list
a=[1,2,3,100.2000,3.1421,3+4j,'hello world',True,[1,2,3]]
a.append(100)
print(a)
a.insert(0,0)
print(a)


a.insert

[1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3], 100]
[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3], 100]

In [30]:
a.pop()
print(a)

[0, 1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3]]

In [31]:
a.remove(0)
print(a)

[1, 2, 3, 100.2, 3.1421, (3+4j), 'hello world', True, [1, 2, 3]]

In [32]:
''' 
any function defined in is called as class
example in a list a=[100,200,300]
a.apprnd(400)
here, append () is afunction ,but this function is defined inside a class list so it is called a method
 
'''

print(a.count(1))
print(type(a))

2
<class 'list'>

In [33]:
lst = [1000,5000,6000,2000,3000]
lst.sort()
print(lst)

[1000, 2000, 3000, 5000, 6000]

In [34]:
lst.reverse()
print(lst)

[6000, 5000, 3000, 2000, 1000]

In [35]:
lst=[100,200,[3000,400]]

In [36]:
lst = [1,[2,3,4,5,[6,7,[10,[1000],110],200,300],10],1]
print(lst[1][3])
print(lst[1][4][2][1][0])

5
1000

In [37]:
print(lst[-2][-2][-1])
print(lst[1][4][4])

300
300

In [38]:
lst=[100,200,300,[1,2,[3,4,5,[6],[7],[8,[9],1],1],1],1]
print(lst[3][2][5][0])
#4,5,[6],[7]
print(lst[3][2][1:5])
print(lst[-2][-2][-2][-3])
print(lst[-0])

8
[4, 5, [6], [7]]
8
100

In [39]:
#Tuble

b=(1,2,2,2,3,4,5,"Vaibhav",True,False)
b.count(2)

3

In [40]:
b.index(2)

1

In [41]:
#example 
lst=[10,21,30,41,51]
even = []
odd = []

for i in lst:
    if i%2 ==0:
        even.append(i)
    else:
        odd.append(i) 
print('even number',even) 
print('even number',odd)

even number [10, 30]
even number [21, 41, 51]

In [42]:
tup= (1,2,3,[4,5,6,7],[10,20,(30,40,(50,60,(70)))])

print(tup[4][2][2][0:2])

(50, 60)

In [43]:
#Example

tup = (10,20,30,40)
print(type(tup))

#typecaste
tup=list(tup)

print(type(tup))
tup.append(50)
print(tup)

<class 'tuple'>
<class 'list'>
[10, 20, 30, 40, 50]

In [44]:
#dictionary 
#dict = {'key1':value}
d={'1':10} # 1:key and 10: value
print(d.keys())
print(d.values())

dict_keys(['1'])
dict_values([10])

In [45]:
d = {'India':[1000,2000,3000,4000],'USA':2000,'UK':3000}
print(d['India'][1])

2000

In [46]:
d = {'India':1000,'USA':2000,'UK':3000}
print(d['India'])

1000

In [47]:
d = {'India':[1,2,3,[4,[5]]],'USA':[100,200,300]}
print(d['India'][3][1][0])

5

In [48]:
#example :type cast 'd' to dictionary
d=[('USA',1000),('India',2000)] 
d=dict(d)
d

{'USA': 1000, 'India': 2000}

In [49]:
d['UK']=3000

In [50]:
 #del is a keyword used for delete the entry

In [51]:
d

{'USA': 1000, 'India': 2000, 'UK': 3000}

In [52]:
#SET
d={1,2,3,4}
print(type(d))

d={10,10,20,30,40}
print(d)

<class 'set'>
{40, 10, 20, 30}

In [53]:
a = {10,20,30}
b = {40,50,60}

print(a|b)

{50, 20, 40, 10, 60, 30}

In [54]:
#string 

str='Hello Welcome to the World of Python Programming'

print(str.upper())
print(str.lower())
print(str.capitalize())
print(str.isalnum())
print(str.isalpha())
print(str.islower())

HELLO WELCOME TO THE WORLD OF PYTHON PROGRAMMING
hello welcome to the world of python programming
Hello welcome to the world of python programming
False
False
False

In [55]:
#Example
str = ['Hello','World','of','Python','Programming']

bucket1=[]
bucket2=[]

for i in str:
    if len (i)>4:
        bucket1.append(i)
    else:
        bucket2.append(i)
        
print('Bucket1:',bucket1)
print('Bucket2:',bucket2)

Bucket1: ['Hello', 'World', 'Python', 'Programming']
Bucket2: ['of']

In [56]:
#Example
#output :2 4 6 8 10 ...20

num=[]
def square():
    for i in range(1,21):
        if i%2==0:
            num.append(i)
    return num
num=square()
print(num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [57]:
#function definition :udf 9user defined function

#1.user defined function (udf)without parameter
def add():
    num1=100
    num2=200
    return num1+num2 #return an expression
print(add()) #function calling

300

In [58]:
#2.User Defined  function (udf) with parameter

def add (num1,num2):
    num3=num1+num2
    return num3

ans =add(100,200)
print(ans)

300

In [59]:
#3. user defined function (udf) with parameter

def add (num1,num2):
    num3= num1+num2
    print('the answer is:',num3)
    
add(100,200)

the answer is: 300

In [61]:
number1 = float(input("enter the first number:"))
number2 = float(input("enter the second number"))
choice = input("enter the choice:1/2/3/4")

def add (number1,number2):
    number3 = nmber1+number2
    return number3
def sub(number1,number2):
    number3 = number1-number2
    return number3

def mul(number1,number2):
    number3=number1*number2
    return number3
if choice=='1':
    ans=add(number1,number2)
    print(f'the addition of two number{number1} and {number2} is {ans}')
elif choice=='3':
    ans=sub(number1,number2)
    print(f'the addition of two number{number1} and {number2} is {ans}')
elif choice=='3':
    ans=mul(number1,number2)
    print(f'the addition of two number{number1} and {number2} is {ans}')

In [66]:
#lst =[2 4 6 8 10]
#sum =30\
def compute ():
    lst=[]
    sum=0
    for i in range(1,11):
        if i%2 ==0:
            lst.append(i)
            sum=sum+i
    return sum ,lst
sum,lst=compute()
print(sum)
print(lst)

30
[2, 4, 6, 8, 10]

In [68]:
def compute ():
    lst=[]
    sum=0
    for i in range(1,11):
        if i%2 !=0:
            lst.append(i)
            sum=sum+i
    return sum ,lst
sum,lst=compute()
print(sum)
print(lst)

25
[1, 3, 5, 7, 9]

In [69]:
num=100 #variable definition 
def test():#function definitin
    global num #global definition variable
    num =3000 #local variable definition
    print(num)
    
test()#function calling

3000